{% extends 'base.html' %}



{%block title%}
About
{% endblock %}

{%block content%}

     
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: cornflowerblue;
            font-size: x-large;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 150%;
            height: 80vh;
        }
    </style>
</head>
<body>
<div class="container">
   <h1> Event Management System Using Python Django</h1><br>

In today’s fast-paced world, businesses, schools, 
and groups need to organize events well. 
An Event Management System (EMS) makes planning and managing events easier. 
This article will explain the structure, important parts, and how to build a helpful Event Management System with Django.
Event Management System using Django<br>

Here, we will create the Event Management System using Django step-by-step, below is a step-by-step guide to the Event Management System using Django in Python
</div>
</body>
</html>
{% endblock %}    